.card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: 17rem; 
  transition: transform 0.3s ease-out;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  will-change: transform;
}

.card:hover {
  transform: scale(1.02) translateY(-0.25rem);
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s;
  z-index: 0;
}

.card:hover .overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.content {
  position: relative;
  padding: 1rem;
  z-index: 10;
  color: white;
}

.title {
  font-size: 1.125rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
  line-height: 1.3;
}

