.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10rem 1rem 5rem 1rem;
  background-color: var(--bg-color);
}

.content{
  max-width: 80rem;
}

.contentTitle {
  padding-bottom: 3.75rem;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  line-height: 1.2;
  text-align: center;
}

.divider {
  width: 23rem;
  height: 2px;
  background-color: var(--bg-secondary);
  margin: 0.5rem auto 0 auto;
}

.grids{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.grid{
  max-width: 350px;
  background-color: #fff;
  border-radius: 10px;
  transition: transform 0.3s ease-out;
  will-change: transform;
}
.grid:hover{
  transform: scale(1.02) translateY(-0.25rem);
}

.images{
  position: relative;
}

.bgImage{
  width: 100%;
  display: block; 
  object-fit: cover;
  max-width: 100%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.icon{
  position: absolute;
  top: -27px;
  right: -16px;
  width:4rem;
}

.information{
  padding: 1.25rem 1.875rem 1.25rem 1.875rem;
}

.information > * + * {
  margin-top: 1rem; /* equivalente ao space-y-4 */
}

.titleGrup {
  color: var(--text-color);
  font-size:1.2rem ;
  font-weight: 600;
}

.description{
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.4rem;
}

.button{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.arrowIcon{
  font-size: 1.25rem;
  color: var(--text-color);
  transition: transform 0.3s ease-out;

}

.button:hover .arrowIcon {
  transform: scale(1.02) translateX(0.35rem);
}

@media (max-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .container{
    padding: 5rem 1rem 5rem 1rem;
  }
  .grids {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .title{
    font-size: 1.5rem;
  }
  .divider{
    width: 11rem;
  }
  .icon{
    width: 3rem;
    right: -9px;
  }
}