.footer {
  background: #f5f5ef;
  color: #014769;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
}

.footerTop {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footerMain {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.footerLeft {
  display: flex;
  align-items: flex-start;
  gap: 35px;
  max-width: 600px;
  flex: 1;
  flex-wrap: wrap;
  
}

.footerLogoImg {
  max-width: 100px;
  height: auto;
  flex-shrink: 0;
}

.footerDescription {
  padding-top: 12px;
  max-width: 500px;
  padding-left: 15px;
}

.footerDescription h1 {
  margin-bottom: 10px;
}

.footerDescription p {
  font-size: 14px;
  line-height: 1.5;
}

.footerLinksWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 21rem;
}

.footerLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  transition: transform 0.3s ease;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 100px;
}

.footerColumn h3 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
}

.footerLinked {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footerLinked h3:hover {
  transform: scale(1.2);
}

.footerColumn a {
  font-size: 14px;
  color: #014769;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footerColumn a:hover {
  color: #00a896;
  transform: scale(1.2);
}


.footerBottom {
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.footerLegalLinks {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  transition: transform 0.3s ease;
}

.footerLegalLinks a {
  font-size: 13px;
  text-decoration: none;
  color: #014769;
}

.footerLegalLinks a:hover {
  color: #00a896;
  transform: scale(1.1);
  text-decoration: underline;
}

.loginButton {
  border: none;
  background: none;

}

.loginButton:hover {
  transform: scale(1.2);
  color: #00a896;
}

/* Responsividade */
@media (max-width: 1024px) {
  .footerMain {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .footerLeft {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    max-width: 100%;
  }

  .footerDescription {
    padding-left: 0;
    max-width: 90%;
  }

  .footerDescription p {
    text-align: justify;
  }

  .footerLinksWrapper {
    justify-content: center;
    padding-right: 0;
    width: 100%;
  }

  .footerLinks {
    justify-content: center;
    gap: 30px;
  }

  .footerColumn {
    align-items: center;
    min-width: 120px;
  }
}


@media (max-width: 600px) {
  .footer {
    padding: 30px 20px;
  }

  .footerLogoImg {
    max-width: 80px;
  }

  .footerDescription h1 {
    font-size: 1.3rem;
  }

  .footerDescription p {
    font-size: 13px;
    line-height: 1.4;
    text-align: justify;
  }

  .footerLinks {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .footerColumn h3 {
    font-size: 14px;
  }

  .footerColumn a {
    font-size: 13px;
  }

  .footerBottom {
    font-size: 13px;
    padding-top: 25px;
  }

  .footerLegalLinks {
    gap: 10px;
  }
}