* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    }


.footer {
    background: #003d5b;
    color: #ffffff;
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.footer-top {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-links, .footer-parceiros, .footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

.footer-parceiros {
    margin-right: 45px;
 }

.footer-links a,
.footer-parceiros a,
.footer-social a {
    color: #ffffff;
    text-decoration: none;
    margin: 5px 0;
    transition: color 0.3s ease;
}

.footer-links a:hover,
.footer-parceiros a:hover,
.footer-social a:hover {
    color: #00a896;
}

.footer-parceiros h4,
.footer-social h4,
.footer-links h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-social .social-icons a {
    font-size: 32px; 
    width: 50px; 
    height: 50px;
    padding-right: 7px;
}

.footer-bottom {
    border-top: 3px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .footer-top {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-links, .footer-parceiros, .footer-social {
      margin: 20px 0;
    }
  
    .footer-logo-img {
      max-width: 80%; 
    }
  
    .footer-parceiros {
      margin-right: 0;
    }
  
    .footer-links a, .footer-parceiros a, .footer-social a {
      font-size: 16px; 
      margin: 10px 0;
    }
  
    .footer-social .social-icons a {
      font-size: 28px; 
      margin: 5px;
    }
  
    .footer-bottom p {
      font-size: 14px; 
    }
  }
  

  @media (max-width: 480px) {
    .footer-links h4,
    .footer-parceiros h4,
    .footer-social h4 {
      font-size: 16px; 
    }
  
    .footer-social .social-icons a {
      font-size: 24px;
      width: 40px;
      height: 40px;
    }
  
    .footer-bottom p {
      font-size: 12px; 
    }
  }
